{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-2"></div>

            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body text-center">
                        <span style="color: gray; text-transform: uppercase; font-weight: 500;">Your portfolio value</span>
                        <br>
                        <span style="font-size: 1.875rem; vertical-align: top">$</span>
                        <span style="font-size: 3rem">1,856</span>
                        <span style="font-size: 1.875rem; vertical-align: top">.84</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>

            <div class="col-sm-8 mt-5">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="w-50">Name</th>
                        <th>Price</th>
                        <th>Change</th>
                        <th>Trade</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>1</th>
                        <td>Bitcoin <span style="color: gray;">BTC</span></td>
                        <td>$93,203.78</td>
                        <td class="danger-color">-0.5%</td>
                        <td>
                            <a href="#" class="btn btn-success">Buy</a>
                            <a href="#" class="btn btn-primary">Sell</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}